* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 22px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    color: #555;
    font-family: Lato, sans-serif;
    font-size: 22px;
    text-rendering: optimizeLegibility;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.parallax {

}

header {
    background-image: linear-gradient(270deg, rgba(222, 98, 98, 0.72), rgba(255, 184, 140, 0.73)), url("../img/hero.jpg");
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
}

.nav-bar {
    list-style: none;
}

nav li {
    float: right;
    display: inline-block;
    margin: 25px 20px 5px 10px;
}

nav a:link,
nav a:visited {
    font-family: 'Lato', sans-serif;
    padding: 19px 10px 5px 10px;
    font-size: 0.95em;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    color: rgba(245, 245, 245, 0.75);
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    text-rendering: optimizeLegibility;
}

nav li a:hover,
nav li a:active {
    color: #fff;
    border-bottom: 3px solid #fff;
}

.logo {
    float: left;
    height: 70px;
    width: auto;
    margin: 5px 0 0 4vw;
}

nav::after {
    content: "";
    clear: both;
    display: table;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    color: #384040;

}

h1 {
    font-size: 40px;
    word-spacing: 2px;
    padding: 10px 17px 10px 17px;
    color: #ffffff;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    word-spacing: 2px;
    margin-bottom: 30px;
}

h3 {
    font-size: 1em;
    word-spacing: 2px;
    margin-bottom: 15px;
    font-weight: bold;
}

p {
    line-height: 145%;
    text-align: justify;
    font-weight: 300;
}

h2:after {
    display: block;
    content: " ";
    width: 150px;
    background-color: #e67e22;
    height: 2px;
    margin: 30px auto 0;
}

section {
    padding: 120px 6vw 0 6vw;
    margin: auto;
}

section ul {
    list-style: none;
}

.boxes {
    margin-top: 20px;
}

.long-copy {
    line-height: 145%;
    width: 90%;
}

.box {
    margin-top: 70px;
}

.icon-big {
    color: #de6262;
}

.hero-text-box {
    padding-top: 30vmin;
    margin: 0 3vw 0 3vw;
}

.ui.button.primary {
    font-size: 0.8em;
    background-color: #fff;
    color: #384040;
    margin: 5vh 1vw 0 1vh;
}

.ui.button.primary:hover,
.ui.button.primary:active {
    background-image: linear-gradient(#fdcb6e, #fdcb6e);
    color: #384040;
}

.ui.button {
    font-size: 0.85em;
    margin: 5vh 1vw 0 1vh;
    color: #384040;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #FFFFFF;
}


.ui.button:hover,
.ui.button:active {
    background-image: linear-gradient(270deg, #de6262, #ffb88c);
    color: #384040;
}

.meals-showcase {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
    height: auto;
}

.meal-photo {
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.25);
    position: center;
    transition: transform 1s, opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1.0;
    transform: scale(1.05);
}

.section-steps {
    background-color: #f5f5f5;
    padding-bottom: 120px;
}

.app-screen {
    height: 67vh;
    width: auto;
}

.steps-box {
    margin-top: 30px;
}


.steps-box:last-child {
    margin-top: 120px;
}

.work-step {
    margin-bottom: 50px;
}

.work-step div {
    color: #de6262;
    display: inline-block;
    border: 2px solid #de6262;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    font-size: 150%;
    padding-top: 9px;
    float: left;
    margin-right: 20px;
}

.icons-download {
    margin-top: 50px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin: 0 25px 20px 0;
}


.cities-images img {
    height: auto;
    width: 100%;
    margin-top: 50px;
}

.section-cities h3 {
    margin: 10px 0 0 0;
}


.section-cities i {
    margin-bottom: 12px;
}

.section-cities p {
    display: inline;
}

.section-cities a:hover {
    color: #de6262;
}

.section-testimonials {
    background-image: linear-gradient(270deg, rgba(7, 7, 7, 0.6), rgba(0, 0, 0, 0.4)), url("../img/back-customers.jpg");
    margin-top: 80px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}


blockquote {
    margin-bottom: 50px;
    color: #f5f5f5;
    margin-top: 40px;
}


cite {
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: sans-serif;
    margin-top: 25px;
    vertical-align: middle;
    display: block;
    color: #f5f5f5;
}

cite img {
    border-radius: 50%;
    border: transparent;
    height: 90px;
    width: auto;
    vertical-align: middle;
    margin-right: 30px;
}

.section-testimonials blockquote p {
    font-size: 95%;
    margin-bottom: 30px;
}

.section-testimonials h2 {
    color: #f5f5f5;
}

.section-plans {
    background-color: #f5f5f5;
    padding-bottom: 90px;
}

.plan-box {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    margin-top: 50px;
}

.plan-box div {
    padding: 35px 15px 35px 50px;
    border-bottom: 1px solid #e5e5e5;

}

#main-box {
    margin: 0 25px;
}

#single {
    padding-top: 0;
}

#ribbon {
    margin-top: 25px;
    margin-left: 21px;
}

.plan-box div:last-child {
    text-align: center;
    padding: 20px 0;
}

.small-ones {
    margin-top: 35px;
}

.plan-box:hover {
    box-shadow: 0 0 25px 15px #ececec;
    transform: scale(1.05);
    transition: transform 0.5s, box-shadow 0.2s;
}


.plan-box div h3 {
    padding-top: 30px;
}

.plan-price {
    font-size: 170%;
    color: #de6262;
    margin-bottom: 10px;
}

.plan-price span {
    color: #384040;
    font-size: 0.6em;
}

.lists {
    padding-left: 0;
}

.plan-box ul li {
    padding: 5px 0;
    font-size: 0.9em;
    font-weight: 300;
}

.plan-box ul li i {
    padding-right: 25px;
    color: #de6262;
}

.plan-box button.ui.button {
    margin-top: 0;
    font-size: 0.8em;
    font-weight: 400;
    text-transform: uppercase;
    background-image: linear-gradient(#fff, #fff);
    color: #384040;
    border: 2px solid #fdcb6e;
}

.plan-box button.ui.button:hover {
    background-image: linear-gradient(#fdcb6e, #fdcb6e);
    color: #384040;
}

.plan-box button.ui.button.primary {
    margin-top: 0;
    font-size: 0.8em;
    font-weight: 400;
    text-transform: uppercase;
    background-image: linear-gradient(#fdcb6e, #fdcb6e);
    color: #384040;
}

.plan-box button.ui.button.primary:hover {
    background-image: linear-gradient(#fff, #fff);
    color: #384040;
    border: 2px solid #fdcb6e;
}

footer {
    background-color: #384040;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 25px 0 15px 0;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 22px;
}

.social-links {
    margin: 25px 5px 15px 0;
}

.footer-nav {
    margin: 45px 30px 15px 0;
}

footer ul li a {
    color: #de6262;
    padding-right: 30px;
}

footer ul li a:hover {
    color: #f5f5f5;
}

footer div:last-child {
    margin-right: 135px;
}

footer ul li a i {
    color: #de6262;
}

footer ul li a i:hover {
    color: #f5f5f5;
}

#copyright {
    color: #6c6c6c;
    font-size: 0.9em;
    margin: 0 20px;
    text-align: center;
}

.last-copy {
    padding: 40px 0 15px 0;
}

.custom-shape-divider-bottom-1595671451 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1595671451 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 101px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1595671451 .shape-fill {
    fill: #FFFFFF;
}

.header-title {
    font-weight: 900;
    font-size: 2em;
    color: rgb(255, 255, 255);
    padding-top: 20px;

}

header p {
    color: #e5e5e5;

}

#grid1 {
    margin-top: 5px;
}