
html {
    font-size: 35px;
}

body {
    color: #555;
    font-family: 'Fira Code', sans-serif;
    font-size: 22px;
    text-rendering: optimizeLegibility;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    color: #384040;
    background-color: rgba(245, 245, 245, 0.60);
    font-weight: 300;
    letter-spacing: 0.5vw;
    padding: 10px 17px 10px 17px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

header {
    background-image: linear-gradient(270deg, rgba(255, 175, 189, 0), rgba(255, 195, 160, 0.7)), url("../img/hero.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.ui.button.primary {
    font-size: 2vh;
    background-image: linear-gradient(270deg, #de6262, #ffb88c);
    margin: 5vh 1vw 0 1vh;
}

.ui.button.primary:hover {
    background-image: linear-gradient(#f5f5f5, #f5f5f5);
    color: #384040;
}

.ui.button {
    font-size: 2vh;
    margin: 2vh 1vw 0 1vh;
    background-color: #f5f5f5;
}


.ui.button:hover {
    background-color: #fff;
}

.down {
    color: #fff;
    display: block;
    padding-top: 10vh;
    vertical-align: bottom;
}

.container {
    margin: 0;
    padding: 0;
}

#hero-text-box {
    text-align: center;
    padding-top: 40vmin;
    margin: 0 3vw 0 3vw;
}